@font-face { 
	font-family: "harrypotter"; 
	src: url('harrypotter.TTF'); 
}

body {
	font-family: 'harrypotter', serif;
	background-color: #000;
	font-size: 30px;
}


.bg-img {
	width: 750px;
	display: block;
	margin: 0 auto;
	/*position: fixed;*/
}

.image-container {
	position: relative;
	text-align: center;
	color: black;
}

#quizContainer {
	position: absolute;
	width: 650px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -25%);
}

div {
	margin: 10px 0;
}

button {
	padding: 3%;
	background-color: #d3b35c;
	border-radius: 20px;
	font-size: 40px;
	font-weight: bold;
	font-family: "harrypotter"; 
}

button:hover {
	background-color: #824612;
	color: white;
}

h1 {
	font-size: 60px;
	padding-bottom: 50px;
}
