@font-face { 
	font-family: "harrypotter"; 
	src: url('harrypotter.TTF'); 
}

body {
	font-family: 'harrypotter', serif;
	background-color: #000;
	font-size: 30px;
}


.bg-img {
	width: 750px;
	display: block;
	margin: 0 auto;
	/*position: fixed;*/
}

.image-container {
	position: relative;
	text-align: center;
	color: black;
}

#quizContainer {
	position: absolute;
	width: 650px;
	top: 43%;
	left: 50%;
	transform: translate(-50%, -25%);
}

#time-left {
	color: #824612;
	font-size: 32px;
}

div {
	margin: 5px 0;
	padding: 2px 0;
}

div.answerOptions {
	margin: 5px 0;
	padding: 3px 0;
}

#question {
	font-size: 40px;
}
}

.answerOptions: {
	padding: 3px 0;
}

.answerOptions:hover {
	background-color: #824612;
	color: white;
	border-radius: 20px;
	/*padding: 3px 0;*/
}

button {
	padding: 3%;
	background-color: #d3b35c;
	border-radius: 20px;
	font-size: 40px;
	font-weight: bold;
	font-family: "harrypotter"; 
}

button:hover {
	background-color: #824612;
	color: white;
}

h1 {
	font-size: 60px;
	padding-bottom: 50px;
}

.image {
	border-radius: 20px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}
